body{
    background-color: #000000;
    font-family: 'Heebo', sans-serif;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.relogio{
    color: #09ff00;
    font-size: 10rem;
    position: relative;
    bottom: 60px;

}

h1{
    color: #195800;
    font-size: 2rem;
    position: relative;
    top: -180px;
}